{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="tasks">
        <table class="tasks">
            {% for task in tasks %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td class="dueDate">{{ task.dueDate | date('Y-m-d') }}</td>
                    <td class="assignedTo">{{ task.assignedTo }}</td>
                    <td class="description">{{ task.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}